
/*
*{
    padding:0px;
    margin:0px;
    }
    .grad1 {
      height: 130px;
      width: 100%;
      background-color: orange; 
      background-image: linear-gradient(to top right, orange, black); 
    }
    #logo{
      margin-left: 10px;
      margin-top: 5px;
    }
    .column {
      float: left;
      
      padding: 10px;
      height: 100px;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      float: center;
    }
    
    li {
      float: left;
      padding: 10px;
    
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
     color:orange;
    }
    
    .active {
      color: orange;
    }
    .main_body:after{
      content: "";
      display: table;
      clear: both;
    }
    .content{
      float: left;
      
      padding: 10px;
      height: 100px;
    }
    .button {
      background-color: orange;
      border-radius: black;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      width: 200px;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      font-weight: bold;
    }
    #word::first-letter {
      font-size: 200%;
      color:black;
      font-weight: bold;
    
    }
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color:orange;
       color: white;
       text-align: center;
       height: 50px;
    }
*/


    html {
      background-image: url("../images/bats.gif");	
    }
    body {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      max-width: 960px;
      width: 95%;                        /* fixed width was 800 */
      background-color: white;
      margin: 0 auto; 
      padding: 0;
      border: 3px solid black;
      box-shadow: 0 9px 18px 9px;
    }
    h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }
    
    /* Header */
    header {
        background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
        background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
        background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
        background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
        padding: .9375em 1.875% .9375em 1.875%;  /* 15 / 16; 15 / 800 x 100 */
    } 
    header img { 
      float: left; 
      padding:5px; 
      height:80px;
      width:100px;
    } 
    header h2 {
      font-size: 230%;
    }
    header h3 {
      font-size: 125%;
      padding-bottom: .75em;
    }
    
    /* Navigation menu */
    #nav_menu {
      clear: left;
      margin: 0;
      padding: 0;   
      width: 100%; 
      
    }
    #nav_menu ul 
    {
      list-style: none;
      display:flex;
        margin: 0;
        padding: 0;
        background-color: black;
    }
    #nav_menu ul li a {
      text-align: center;
      display: block;
      flex:1;
      padding-left: 50px;
      padding-top:20px;
      padding-bottom:20px;
      padding-right: 50px;
      text-decoration: none;
      color: white;

    }
    #nav_menu ul li a.current {
      color: orange;
    }
    #nav_menu ul li a:hover, #nav_menu ul li a:focus {
    color:orange;
    }

    .active{
      color:orange;
    }
    
    /* Sidebar */
    aside {
        margin: 0;
        padding: 1.25em 0;
    }
    #nav_list ul { 
      list-style: none;
        margin: 0;
        padding: 0 5%;
    }
    #nav_list ul li { 
      margin-bottom: .5em;
      border: 2px solid black;
    }
    aside .side_menu .side_link  {
      display: block;
      font-weight: bold;
      text-decoration: none;
      text-align: left;
      background-color: #FFC53E;
      padding: .5em .7em;
      margin: 10px;
      color: black;
      border: 2px solid black;
      transition: 0.3s;
      margin-right: 28%;
  }
  aside .side_menu .side_link:hover {
    color: green;
    transition: 0.3s;
}

.side_link a:hover{
  color:green;
}

.side_link a{
  color:black;
  text-decoration:none;
}
    
    /* Section */
    section {
        padding: 2em 5%;
    }
    section h1 { 
      font-size: 140%;
      margin-bottom: .5em;
    }
    section h2 {
      font-size: 115%;
      margin: .8em 0 .4em 0;
    }
    section p {
      margin-bottom: .5em;
    }
    section a {
      font-weight: bold;
      color: orange;
        text-decoration: none;
    }
    section a:link, main a:visited { 
        color: orange; 
    }
    section a:hover, main a:focus { 
        color: green;
    }
    
    footer { 
      border-top: 2px solid black;
      padding: .9375em 1.875% .9375em 1.875%;
        background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
        background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
        background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
        background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
    } 
    footer p {
      font-size: 90%;
      text-align: center;
    }
    
    #mobile_menu {
      display: none;
    }
    
    @media only screen and (max-width: 800px) {
      html {
        background-image: none;
      }
      body {
        font-size: 90%;
        box-shadow: none;
      }
    }
    
    @media only screen and (max-width: 767px) {
      #nav_menu {
        display: none;
      }
      #mobile_menu {
        display: block;
      }
      header h2 {
        font-size: 200%;
      }
    }
    
    @media only screen and (max-width: 479px) {
      header h2 {
        font-size: 180%;
      }
      header h3 {
        font-size: 115%;
      }
      section h1 {
        font-size: 130%;
      }
    }
    #button {
      background-color: orange;
      border-radius: black;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      width: 200px;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      font-weight: bold;
    }


    .body_data{
      display:grid;
      grid:20px 80px;
    }


    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #000000;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      color:white;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content>a {
      padding:10px;
    }
    
   header li a:hover:not(.active) {
      color:orange;
     }
     
   header  .active {
       color: orange;
     }


     .products_list tr td{
       padding-right:60px;
     }
      .products_list tr td a{
        color:black;
        font-weight:lighter;
        text-decoration: underline;
      }
      .products_list tr th
      {
        color:rgb(114, 114, 114);
        text-align: left;
      }